.customer-menu {
    .lib-dropdown();
    float: right;
}
.dropdown-item {
	width: 450px;
	padding: 20px !important;
}
.customer-menu ul.dropdown {
	right: -15px;
}
.customer-menu ul.dropdown:before {
  left: 440px !important;
}
.customer-menu ul.dropdown:after {
  left: 440px !important;
}
.counter.qty {
    background: #ff5501;
    color: #ffffff;
    height: 24px;
    line-height: 24px;
    border-radius: 2px;
    display: inline-block;
    margin: 3px 0 0;
    min-width: 18px;
    overflow: hidden;
    padding: 0 3px;
    text-align: center;
    white-space: normal;
}
.page-header .header.panel {
	background: #c31010;
	color: #fff;
}
.block-search {
	float: left;
}

.header ul.links a {
    color: #fff;
}
.header .custom-block {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
}
.custom-block {
    margin-left: 5px;
    float: right;
}
.about-info {
    color: #494d52;
    text-align: right;
    padding: 0 20px 0 50px;
    margin-top: -15px;
    background: none;
}
.about-info .text {
    display: block;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 300;
    color: #000;
    line-height: 47px;
    letter-spacing: .7px;
}
.about-info .icon-phone {
    color: #f8565d;
    font-size: 40px;
    line-height: 0;
}
.icon-phone:before {content:'\f095'}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "porto";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}
.about-info .number-phone {
    font-family: "HelveticaNeue-Bold",Helvetica Neue,Arial,sans-serif;
    font-size: 35px;
    opacity: .9;
    line-height: 0;
}
.about-info .time {
    margin-top: -6px;
    color: #000;
    font-size: 15px;
}